/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #c7a2ce;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: Baskerville;
  text-align: center;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #d6c5e1; 
  font-family: Baskerville;
  font-size: 150%;
  text-align: center;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #f4ebda;
}

ul {
  display: inline-block;
  padding-left: 0;
  text-align: left;
}

/* referred to https://www.w3schools.com/cssref/sel_nth-child.php for alternating alignment of text*/
/* referred to https://www.w3schools.com/css/css3_borders.asp for rounded corners*/

.text:nth-child(even) { 
  text-align: right;
  clear:right; 
  padding: 10px;
  border: solid 2px #888;
  border-radius: 20px 20px 5px 20px;
  background-color: #f8edfc;
  margin: 10px;
}
  
  .text:nth-child(odd) { 
  text-align: left;
  clear:left; 
  padding: 10px;
  border: solid 2px #888;
  border-radius: 20px 20px 20px 5px;
  background-color: #f8edfc;
  margin: 10px;
  }
  
  .section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px #9cb19d;
  background-color: #f4defa;
  }
  
/* burrowed code from https://stackoverflow.com/questions/5347833/centering-bullets-on-a-centered-list to figure out how to make centered list with left-aligned text */
