.special {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #9cb19d;
    background-color: #f4defa;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }